<h1>Please Sign In:</h1>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
  
    <div class="form-group">
      <%= f.label :username, "Enter your username: " %><br>
      <%= f.text_field :username, class: "form-control" %>
    </div><br>

    <div class="form-group">
    <%= f.label :password, "Enter your password: " %><br>
    <%= f.password_field :password, class: "form-control" %>
    </div><br>
  
    <div class="actions">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
    
  <% end %>
<p>Not a member yet? <%= link_to "Sign Up Here.", new_user_path %></p>