<h1><%=@recipe.name%></h1>

<h2>Author: <%=@recipe.user.username%></h2>

<h3>Prep Time: <%=@recipe.prep_time%> minutes</h3>
<h3>Cook Time: <%=@recipe.cook_time%> minutes</h3>

<h2>Ingredients:</h2>
<% @recipe.ingredients %>

<h2>Directions:</h2>

<ol><% @recipe.directions.scan(/"([^"]*)"/).each do |direction| %>
    <li><%= direction[0] %></li>
<% end %></ol>
